/*
	ThorinDev
	Minecraft Color Codes
	v1.6
*/

.black {
	color: #000000;
	background-color: #000000;
}

.darkblue {
	color: #0000AA;
	background-color: #00002A;
}

.darkgreen {
	color: #00AA00;
	background-color: #002A00;
}

.darkaqua {
	color: #00AAAA;
	background-color: #002A2A;
}

.darkRed {
	color: #AA0000;
	background-color: #2A0000;
}

.darkpurple {
	color: #AA00AA;
	background-color: #2A002A;
}

.gold {
	color: #FFAA00;
	background-color: #2A2A00;
}

.grey {
	color: #AAAAAA;
	background-color: #2A2A2A;
}

.darkgrey {
	color: #555555;
	background-color: #151515
}

.blue {
	color: #5555FF;
	background-color: #15153F
}

.green {
	color: #55FF55;
	background-color: #153F15
}

.aqua {
	color: #55FFFF;
	background-color: #153F3F
}

.red {
	color: #FF5555;
	background-color: #3F1515
}

.lightpurple {
	color: #FF55FF;
	background-color: #3F153F
}

.yellow {
	color: #FFFF55;
	background-color: #3F3F15
}

.white {
	color: #FFFFFF;
	background-color: #3F3F3F
}
