/*
	ThorinDev
	Minecraft Colour Codes
	v1.7
*/

.mcblack {
	color: #000000;
	background-color: #000000;
}

.mcdarkblue {
	color: #0000AA;
	background-color: #00002A;
}

.mcdarkgreen {
	color: #00AA00;
	background-color: #002A00;
}

.mcdarkaqua {
	color: #00AAAA;
	background-color: #002A2A;
}

.mcdarkRed {
	color: #AA0000;
	background-color: #2A0000;
}

.mcdarkpurple {
	color: #AA00AA;
	background-color: #2A002A;
}

.mcgold {
	color: #FFAA00;
	background-color: #2A2A00;
}

.mcgrey {
	color: #AAAAAA;
	background-color: #2A2A2A;
}

.mcdarkgrey {
	color: #555555;
	background-color: #151515
}

.mcblue {
	color: #5555FF;
	background-color: #15153F
}

.mcgreen {
	color: #55FF55;
	background-color: #153F15
}

.mcaqua {
	color: #55FFFF;
	background-color: #153F3F
}

.mcred {
	color: #FF5555;
	background-color: #3F1515
}

.mclightpurple {
	color: #FF55FF;
	background-color: #3F153F
}

.mcyellow {
	color: #FFFF55;
	background-color: #3F3F15
}

.mcwhite {
	color: #FFFFFF;
	background-color: #3F3F3F
}
