/*
	ThorinDev
	Minecraft Colour Codes
	v1.7.1
*/

.mcblack, .\&0 {
	color: #000000;
	background-color: #000000;
}

.mcdarkblue, .\&1 {
	color: #0000AA;
	background-color: #00002A;
}

.mcdarkgreen, .\&2 {
	color: #00AA00;
	background-color: #002A00;
}

.mcdarkaqua, .\&3 {
	color: #00AAAA;
	background-color: #002A2A;
}

.mcdarkred, .\&4 {
	color: #AA0000;
	background-color: #2A0000;
}

.mcdarkpurple, .\&5 {
	color: #AA00AA;
	background-color: #2A002A;
}

.mcgold, .\&6 {
	color: #FFAA00;
	background-color: #2A2A00;
}

.mcgrey, .\&7 {
	color: #AAAAAA;
	background-color: #2A2A2A;
}

.mcdarkgrey, .\&8 {
	color: #555555;
	background-color: #151515;
}

.mcblue, .\&9 {
	color: #5555FF;
	background-color: #15153F;
}

.mcgreen, .\&a {
	color: #55FF55;
	background-color: #153F15;
}

.mcaqua, .\&b {
	color: #55FFFF;
	background-color: #153F3F;
}

.mcred, .\&c {
	color: #FF5555;
	background-color: #3F1515;
}

.mclightpurple, .\&d {
	color: #FF55FF;
	background-color: #3F153F;
}

.mcyellow, .\&e {
	color: #FFFF55;
	background-color: #3F3F15;
}

.mcwhite, .\&f {
	color: #FFFFFF;
	background-color: #3F3F3F;
}
